.logo img {
  max-width: 200px;
  margin-left: 40px;
}

#nav-checkbox, .nav-toggle {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  transition: background-color 0.5s ease;
  height: 10vh;
}
.nav-menu {
  margin-right: 40px;
}
.nav-menu li {
  display: inline;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 3vh;
  font-weight: bold;
  padding: 0 15px;
}

.nav-menu li a:hover{
  color: crimson;
}

header .fa{
  display: none;
}

@media only screen and (max-width: 700px) {
  #navigation{
    display: none;
  }

  .logo img {
    max-width: 150px;
    margin-left: 20px;
  }
}