@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.sectionTitle {
  font-size: 6vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 100px;
  margin-left: 30px;
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  caret-color: transparent;
}

a {
  text-decoration: none;
}

.content {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.red {
  color: crimson;
}

.tabContent {
  height: auto;
  background-color: black;
}

*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

footer {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
