@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}
*::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
}

.sectionTitle {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100px;
    margin-left: 30px;
    color: rgb(255, 255, 255);
}

.content {
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.red {
    color: crimson;
}

.tabContent {
    height: auto;
    background-color: black;
}


@media (max-width: 900px){
    *{
        overflow-x: hidden;
    }

    .sectionTitle {
        font-size: 35px;
        margin-left: 20px;
    }

    .content {
        color: white;
        display: flex;
        justify-content: center;
        position: relative;
    }
}


